/* history4.css
 * Stylesheet for course, History of Western Music IV
 * Spring 2019
 *
 * Andrew A. Cashner
 * College Music Department,  University of Rochester
 *
 * 2019/01/17
 *
 * This stylesheet is in the public domain.
 * Let me know if you find something useful or see something that could be
 * improved, see contact info at http://www.andrewcashner.com/.
 */

@import
url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald&display=swap');
@import url('syllabus.css');

html {
  font-family: 'Oswald', sans-serif;
  background: WhiteSmoke;
}


a {
  color: SlateGray;
}


h1, h2 {
  font-family: 'Abril Fatface'; serif;
  font-weight: normal;
  color: MediumBlue;
}

h2.unit {
  font-style: italic;
}

/*
section > h1,
section.week > h1 {
  color: RoyalBlue;
}
*/

section > section > h1, 
section > section > h2,
section.toc > h1 {
  color: black;
}

section.day-noclass > h2 {
  color: LightSlateGray;
  font-family: 'Oswald', sans-serif;
  font-size: 120%;
}

section.todo > h3 {
/*  font-family: 'Martel Sans', sans-serif; */
  font-style: bold;
}

section.day > h2 > ul.head {
  font-family: 'Oswald', sans-serif;
}

section.day-duedate > h2 {
  border-color: MediumBlue;
  background: white;
  font-family: 'Oswald', sans-serif;
  font-size: 120%;
}


