/* history4.css
 * Stylesheet for course, History of Western Music IV
 * Spring 2019
 *
 * Andrew A. Cashner
 * College Music Department,  University of Rochester
 *
 * 2019/01/17
 *
 * This stylesheet is in the public domain.
 * Let me know if you find something useful or see something that could be
 * improved, see contact info at http://www.andrewcashner.com/.
 */

/* 
@import url('https://fonts.googleapis.com/css?family=Martel+Sans|Playfair+Display&display=swap');
*/
@import url('syllabus.css');

html {
  font-family: sans-serif;
  background: LemonChiffon;
}


a {
  color: Teal;
}


h1, h2 {
/*  font-family: 'Playfair Display', serif; */
  font-weight: bold;
  color: Crimson;
}

h2.unit {
  font-style: italic;
}

/*
section > h1,
section.week > h1 {
  color: RoyalBlue;
}
*/

section > section > h1, 
section > section > h2,
section.toc > h1 {
  color: black;
}

section.day-noclass > h2 {
  color: SlateGray;
 /* font-family: 'Martel Sans', sans-serif; */
  font-size: 120%;
}

section.todo > h3 {
/*  font-family: 'Martel Sans', sans-serif; */
  font-style: bold;
}

ul.subhead > li.title:before {
  content: "{";
}

ul.subhead > li.title:after {
  content: "}";
}

hr.unit:after {
/*  background: Linen; */
  content: "♮ ♯ ♭";
  position: relative;
  top: -1em;
  padding: 0 6px;
}

section.day-duedate > h2 {
/*   background: RebeccaPurple;
  border-color: RebeccaPurple;
  color: Linen;
  font-family: 'Martel Sans', sans-serif;
  */
  font-size: 120%;
}


