/* syllabus.css
 * Stylesheet for university course syllabi  
 * 
 * Andrew A. Cashner
 * College Music Department
 * University of Rochester
 *
 * 2018/08/08
 *
 * This stylesheet is in the public domain.
 * Let me know if you find something useful or see something that could be
 * improved, see contact info at http://www.andrewcashner.com/.
 */

/* DEFAULTS */
html {
  font-family: serif;
  font-size: 100%;
  max-width: 40em;
  margin: 2em;
}

/* INLINE STYLES */
q {
  /* Typographical quotation marks */
  quotes: "\201C" "\201D" "\2018" "\2019";
}
cite {
  font-style: italic;
}

/* PERIODS: WEEKS, BREAKS */
body { 
  counter-reset: h3;
  counter-reset: h4;
}

/* AUTOMATIC LABEL WITH NUMBER FOR UNITS */
hr.unit {
  counter-increment: h3;
  border: none;
  border-top: 3px double;
  overflow: visible;
  text-align: center;
  height: 10px;
}
hr.unit:after {
  background: white;
  content: "♮ ♯ ♭";
  position: relative;
  top: -0.6em;
  padding: 0 6px;
}
h3.unit:before {
  content: "Unit " counter(h3, upper-roman) ": ";
}

/* AUTOMATIC LABEL WITH NUMBER FOR WEEKS */
section.week:before {
  counter-increment: h4;
  content: "Week " counter(h4);
  font-style: italic;
}

/* CLASS TITLES */
h5 {
  /* Used for titles of class sessions */
  font-size: 100%;
  font-family: sans-serif;
}
h5.event {
  font-style: italic;
  color: gray;
}
h5.duedate>table {
  border-style: solid;
  border-color: red;
}
table {
  border-collapse: collapse;
  margin-left: 1em;
}
td {
  vertical-align: top;
  padding-right: 1em;
}
td.number {
  text-align: right;
}
td.text,th.text { 
  text-align: left;
}
td.date,th.date {
  font-weight: normal;
  width: 6em;
}
tfoot.total {
  border-top: 1px solid;
}
tfoot.total td.key {
  text-align: right;
}
table.inner {
  font-style: italic;
}

/* LISTS OF ASSIGNMENTS */
ol, ul {
  /* Space for list item labels */
  padding-left: 2em;
}
ol.reading, ol.music {
  /* Space from left margin to start of list item labels */
  margin-left: 3em;
}
p.listlabel {
  /* Align with left edge of list item labels */
  margin-left: 3em;
  font-style: italic;
}

