/* history4.css
 * Stylesheet for course, History of Western Music IV
 * Spring 2019
 *
 * Andrew A. Cashner
 * College Music Department,  University of Rochester
 *
 * 2019/01/17
 *
 * This stylesheet is in the public domain.
 * Let me know if you find something useful or see something that could be
 * improved, see contact info at http://www.andrewcashner.com/.
 */

@import url('syllabus.css');
@import url('https://fonts.googleapis.com/css?family=Sanchez:400,400i|Open+Sans:400,400i,700,700i');

html {
  font-family: 'Open Sans', sans-serif;
  background: LightGray;
}

h1, h2 {
  font-family: 'Sanchez', serif;
  font-weight: normal;
  color: black;
}

h2.unit {
  font-style: italic;
}

section > h1,
section.week > h1 {
  color: FireBrick;
}

section > section > h1, 
section > section > h2,
section.toc > h1 {
  color: black;
}

section.day-noclass > h2 {
  color: gray;
}

section.todo > h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: bold;
}

ul.subhead > li.title:before {
  content: "{";
}

ul.subhead > li.title:after {
  content: "}";
}

a {
  color: DarkBlue;
}

hr.unit:after {
  background: LightGray;
  content: "♮ ♯ ♭";
  position: relative;
  top: -1em;
  padding: 0 6px;
}


