/* syllabus.css
 * Stylesheet for university course syllabi  
 * 
 * Andrew A. Cashner
 * College Music Department
 * University of Rochester
 *
 * 2019/01/22
 *
 * This stylesheet is in the public domain.
 * Let me know if you find something useful or see something that could be
 * improved, see contact info at http://www.andrewcashner.com/.
 */

html {
  font-size: 100%;
  max-width: 45em;
  margin: 0.5em;
}

hr.unit {
  border: none;
  border-top: 3px double;
  overflow: visible;
  text-align: center;
  height: 10px;
}

/* Headings 
   First heading inside section is h1, then h2, etc.
   Except: section.week first header is h1; section.day first header is h2;
   section.todo first header is h3
*/
header h1 {
  font-size: 240%;
}

header h2,
section.main > h1 {
  font-size: 220%;
}

section.main > h2.unit {
  font-size: 200%;
  font-style: italic;
}

section > h1,
section.week > h1 {
  font-size: 180%;
}

section > section > h1, 
section > h2,
section.day > h2 {
  font-size: 160%;
}

section > section > section > h1,
section > section > h2, 
section > h3,
section.todo > h3 {
  font-size: 140%;
}

section > section > section > section > h1 {
  font-size: 120%;
}

section.toc > h1 {
  font-style: italic;
}

/* Special kinds of days */
section.day-noclass {
  color: gray;
}

section.day-duedate > h2 {
  border-style: solid;
  border-color: red;
}

/* Week and day headings are in format LABEL: TITLE
   Marked up as lists but displayed as table;
   adaptive display as block on small screens
*/
section.week > h1, 
section.day > h2,
section.day-noclass > h2
section.day-duedate > h2 {
  display: table;
  width: 100%;
}

h1 > ul.head,
h2 > ul.head {
  display: table-row;
}

h1 > ul.head > li.label {
  display: table-cell;
  width: 5em;
}

h2 > ul.head > li.label {
  display: table-cell;
  width: 8em;
}

h1 > ul.head > li.title,
h2 > ul.head > li.title {
  display: table-cell;
}

h1 > ul.head > li.title > ul.subhead,
h2 > ul.head > li.title > ul.subhead {
  display: table-row;
}

h1 > ul.head > li.title > ul.subhead > li.title,
h2 > ul.head > li.title > ul.subhead > li.title {
  display: table-cell;
  padding-left: 1em;
  font-style: italic;
}


@media only screen and (max-width: 600px) {
  h1 > ul.head > li,
  h2 > ul.head > li {
    display: block;
  }
}

/* Paragraphs */
p.instructions {
  font-style: italic;
}

/* Tables */
table {
  margin-left: 1em;
}
td {
  vertical-align: top;
  padding-right: 1em;
}
td.number {
  text-align: right;
}
td.text,th.text { 
  text-align: left;
}
td.date,th.date {
  width: 8.5em;
}
tfoot.total {
  border-top: 1px solid;
}
tfoot.total td.key {
  text-align: right;
}

/* Lists */
ol, ul {
  /* Space from left margin to start of list item labels */
  padding-left: 1em;
  margin-bottom: 0.5em;
}

ol > li > ol {
  list-style-type: lower-alpha;
}

ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

ol > li > ol,
ul > li > ol {
  /* Space before first sublist item */
  margin-top : 0.25em;
}

li {
  margin-left: 0.5em;
}

ol.todo > li {
  margin-bottom: 1em;
}

li > p {
  margin: 0.25em;
}

/* Embedded videos */
div.video {
  overflow:hidden;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  padding-top: 25px;
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Inline styles */
q {
  /* Typographical quotation marks */
  quotes: "\201C" "\201D" "\2018" "\2019";
}

cite {
  font-style: italic;
}

strong.alert {
  color: red;
}

abbr {
  font-weight: bold;
}

