/* reformation.css
 * Stylesheet for course, Christian Worship in the Reformation
 * Spring 2019
 *
 * Andrew A. Cashner
 * College Music Department,  University of Rochester
 *
 * 2019/01/17
 *
 * This stylesheet is in the public domain.
 * Let me know if you find something useful or see something that could be
 * improved, see contact info at http://www.andrewcashner.com/.
 */

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,500i,700,700i');
@import url('syllabus.css');

html {
  font-family: 'Cormorant Garamond', 'EB Garamond', 'Garamond', 'Book Antiqua', serif;
  font-size: 125%;
  background: AntiqueWhite;
}

/* Non-bold subtitles */
h1 > ul.head > li.title > ul.subhead > li.title,
h2 > ul.head > li.title > ul.subhead > li.title {
  font-weight: normal;
}

ul.subhead > li.title:before {
  content: "~ ";
}

a {
  color: DarkBlue;
}

section > h1,
section.week > h1 {
  color: DarkRed;
}

section > section > h1, 
section > section > h2,
section.toc > h1 {
  color: black;
}

